= page_form_for(@page) do |form|
  = form.inputs do
    = form.input :comic, :required => true
    = form.input :published_at_string, :label => 'Publish date', :as => :date
    = form.input :title
    = form.input :commentary
  = form.buttons do
    = link_to 'Cancel', :back, :class => 'cancel'
    = form.commit_button
