= semantic_form_for [@book, @page], :html => {:class => 'admin', :multipart => true} do |form|
  = form.input :title
  = form.input :commentary
  = form.input :published_at, :label => 'Publish date'
  = form.input :comic
  = form.buttons do
    = form.commit_button
