= semantic_form_for @book, :html => {:class => 'admin', :multipart => true} do |form|
  = form.input :title
  = form.input :description
  = form.input :published_at, :label => 'Publish date'
  = form.input :banner
  = form.buttons do
    = form.commit_button
