!!!
%html
  %head
    /
      Template adapted from the wonderful Hark, A Vagrant!
      http://www.harkavagrant.com/

    %title #{@book ? h(@book.title) : 'Comix'} - Confounded Contraption
    = auto_discovery_link_tag(:atom, pages_path(:book_id => @book))
    = stylesheet_link_tag 'formtastic', 'comics'
    - if @book
      = stylesheet_link_tag("books/#{@book.style}.css")
    = javascript_include_tag('application')
    /[if lt IE 9]
      %script(src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js")

  %body
    - [:notice, :warning, :alert].each do |section|
      - if flash[section]
        %div{:class => "flash #{section}"}= flash[section]

    = yield

    - if administrator_signed_in?
      %ul#admin_nav
        = content_for :admin_nav

    %ul#site_nav
      %li.home= link_to 'Home', 'http://confoundedcontraption.com/'
      %li.comix= link_to 'Comix', root_path
      %li.tips
        = render :partial => 'shared/tipjar'
      %li.store= link_to 'Store', 'http://katesaturday.etsy.com/'
      %li.contact= link_to 'Contact', 'mailto:kate@confoundedcontraption.com'

    %p#copyright
      &copy; 2004-2010 Kate Stewart
